body {
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1 {
	padding-top: 30px;
	font-family: 'Pacifico', cursive;
	text-align: center;
	color: #0F485E;
}

h2 {
	font-family: 'Pacifico', cursive;
	text-align: center;
	color: #0F485E;
	line-height: .5em;
}

article.intro {
	padding-top: 20px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

p {
	font-family: 'Lato', sans-serif;
	color: #0F485E;
	font-size: 1.15rem;
	text-align: center;
}

p.vote {
	font-family: 'Lato', sans-serif;
	color: #DB6E73;
	font-size: 1.25rem;
	text-align: center;
	font-weight: bold;
}

div.photos {
	padding-top: 20px;
	max-width: 1100px;
	min-width: 790px;
	margin-right: auto;
	margin-left: auto;
}

article.left {
	float: left;
	max-width: 450px;
	margin-left: 150px;
}

article.right {
	float: right;
	max-width: 450px;
	margin-right: 150px;
}

img {
	border: 10px solid #0F485E;
}